* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100dvh;
  width: 100dvw;
}

.loader {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100dvh;
  width: 100dvw;
  background: #2c2b34;
}
