@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

#App {
  position: relative;
  min-height: 100dvh;
  width: 100dvw;
  max-width: 1920px;

  background: #000;
}

.loader {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100dvh;
  width: 100dvw;
}

img.map {
  z-index: -1;
  position: fixed;
  right: 0;
  height: 100%;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100dvw;
  max-width: 1920px;

  padding: 100px 0;

  margin: auto;

  overflow: hidden;
}

#contentBox {
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 60%;
  min-height: 300px;

  background: rgba(0, 0, 0, 0.48);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(0, 0, 0, 0.3);

  -webkit-animation: slide-bottom 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}

#children {
  height: 100%;
  width: 100%;
  border-radius: 1rem !important;
}

#formParent {
  justify-content: space-between;

  gap: 30px;
}

#formParent div {
  width: 30%;
}

#explainBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 60%;

  background: #f3f3f3;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.selectbar {
  position: absolute;
  z-index: 9;
  margin-top: 72px;
  overflow: hidden;
  border-radius: 0.5rem !important;
}

.selectbar span {
  cursor: pointer;
  transition: all 0.2;
  transform: scale(1);
}

.selectbar span:hover {
  background: #a991f7;
  color: white;
  transform: scale(1.01);
}
